@import 'variables';

.app__container {
  background-color: #f7f7f7;
  height: 100vh;
}

.search-box__container {
  display: flex;
  align-items: center;
}

.search-box__form {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: $color-secondary;
  text-align: center;
}

.search-box__icon {
  background-image: url('../images/search-icon.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 15px;
  cursor: pointer;
}

.search-box__input-container {
  position: relative;
  width: 40%;
  margin: auto;
}

.main__spinner {
  position: absolute;
  left: 50%;
  top: calc(50% + 50px);
  margin-top: -20px;
  margin-left: -20px;

  &::after {
    background-color: #f7f7f7;
  }
}

.gems__item-container {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
}

.gems__list-container {
  width: 70%;
  margin: auto;
}

.gems__item-title {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  transition: all .1s;

  &:hover {
    color: $color-secondary;
  }
}

.gems__item-version {
  font-size: 16px;
  font-style: italic;
  color: gray;
  font-weight: 100;
}

.gems__item-left--col {
  width: 75%;
}

.gems__item-middle--col {
  width: 20%;
  text-align: right;
}

.gems__item-right--col {
  width: 5%;
  text-align: right;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.gems__item--star {
  position: relative;
  font-size: 1.7em;
  cursor: pointer;
  top: 30px;

  &:hover {
    content: "\2605";
    color: #ff9f00;
  }
}

.gems__item--star-filled {
  &::before {
    position: absolute;
    left: 0;
    content: "\2605";
    color: #ff9f00;
  }
}

.gems__item-desc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 100;
  font-size: 15px;
}
